#circular3dG{
position:relative;
width:128px;
height:128px;
}

.circular3dG{
position:absolute;
background-color:#b7dd7a;
width:36px;
height:36px;
-moz-border-radius:38px;
-moz-animation-name:bounce_circular3dG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:38px;
-webkit-animation-name:bounce_circular3dG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:38px;
-ms-animation-name:bounce_circular3dG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:38px;
-o-animation-name:bounce_circular3dG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:38px;
animation-name:bounce_circular3dG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#circular3d_1G{
left:52px;
top:8px;
-moz-animation-delay:0.45s;
-webkit-animation-delay:0.45s;
-ms-animation-delay:0.45s;
-o-animation-delay:0.45s;
animation-delay:0.45s;
}

#circular3d_2G{
left:78px;
top:30px;
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

#circular3d_3G{
left:94px;
top:58px;
-moz-animation-delay:0.75s;
-webkit-animation-delay:0.75s;
-ms-animation-delay:0.75s;
-o-animation-delay:0.75s;
animation-delay:0.75s;
}

#circular3d_4G{
left:88px;
top:86px;
-moz-animation-delay:0.9s;
-webkit-animation-delay:0.9s;
-ms-animation-delay:0.9s;
-o-animation-delay:0.9s;
animation-delay:0.9s;
}

#circular3d_5G{
left:54px;
top:94px;
-moz-animation-delay:1.05s;
-webkit-animation-delay:1.05s;
-ms-animation-delay:1.05s;
-o-animation-delay:1.05s;
animation-delay:1.05s;
}

#circular3d_6G{
left:10px;
top:62px;
-moz-animation-delay:1.2s;
-webkit-animation-delay:1.2s;
-ms-animation-delay:1.2s;
-o-animation-delay:1.2s;
animation-delay:1.2s;
}

#circular3d_7G{
left:0px;
top:18px;
-moz-animation-delay:1.35s;
-webkit-animation-delay:1.35s;
-ms-animation-delay:1.35s;
-o-animation-delay:1.35s;
animation-delay:1.35s;
}

#circular3d_8G{
left:22px;
top:0px;
-moz-animation-delay:1.5s;
-webkit-animation-delay:1.5s;
-ms-animation-delay:1.5s;
-o-animation-delay:1.5s;
animation-delay:1.5s;
}

@-moz-keyframes bounce_circular3dG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

@-webkit-keyframes bounce_circular3dG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-ms-keyframes bounce_circular3dG{
0%{
-ms-transform:scale(1)}

100%{
-ms-transform:scale(.3)}

}

@-o-keyframes bounce_circular3dG{
0%{
-o-transform:scale(1)}

100%{
-o-transform:scale(.3)}

}

@keyframes bounce_circular3dG{
0%{
transform:scale(1)}

100%{
transform:scale(.3)}

}
- See more at: http://cssload.net/#sthash.tQmiHVKk.dpuf