html, body {font-family: Arial, Helvetica, sans-serif;font-size:1em;}

#curtain {position:fixed;background-color:white;top:0;left:0;right:0;bottom:0;z-index:1;}

#all {margin:0 auto;/*padding-left:50%;*/width:1000px;}
#main {border:solid 5px #efefef;padding:25px;border-radius:10px;}
.column {float:left;}
#introduction #intents {width:500px;}
#introduction #contents {width:300px;}

/* Ideally need a symbol for this rule which indicates the link will go elsewhere. For now, it is blue.*/
a, a:visited {color:green;cursor:pointer;text-decoration:none;}
a[target=_blank], a[target=_blank]:visited {color:blue;text-decoration:underline;}

.todo {background-color:pink;}

.section.jobs > .content > li {padding-bottom:20px;}
.easteregg {display:none;}
