<p>
	PPS was a website dedicated to handling property-related research. It was split into 8 colour-coded sections handling different areas such as
	residential and offices. Each section had the same set of features including an 'ask the expert' mechanism and a forum.
</p>

<p>
	This was a challenging project which required condensation of several weeks of work into a third of that time, while operating adaptive development
	strategies to handle the adaptive needs of the client. Issue management was handled using an expanding spreadsheet-based procedure. An iterative
	dialogue was maintained to help the client and our developers understand their needs.
</p>
