<p>
	We had a 3rd-party sales process application and we needed some simple reports, usually the number of cases of specific types assigned to each person. The existing application was not designed for customisation
	on this level, so I helped develop a Zend-based application which used the existing application's API to download the data for display. The reporting application can be found 
	<a href="http://reporting.gointeractive.biz/">here</a>, but requires authentication to view the reports.
</p>